#form-login {
    background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;
    background-blend-mode: multiply,multiply;
    color: whitesmoke
}

#status:hover {
    content: url('start-hover.png');
    box-shadow: grey;
} 

#status-learning:hover {
    content: url('end.png');
    box-shadow: grey;
} 